.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

.top-toggles{
  height: 75%;
}

.bottom-toggles{
  position: absolute;
  bottom: 10%;
}

.header{
  background-color: ;
}

.mapSearch{
  width: 200px;
}


rect.grandparent {
  stroke-width: 4px;
  fill: orange;
  fill-opacity: .8;
}

rect.grandparent:hover {
  stroke-width: 3.5px;
  fill: orange;
  fill-opacity: 1;
}

rect.parent {
  stroke-width: 4px;
  stroke: #fff;
}

rect.child, rect.leaf {
  stroke-width: .5px;
  stroke: #fff;
  fill: #bbb;
}

.children:hover rect.child {
  stroke-width: .5px;
  stroke: #fff;
  fill: #bbb;
  fill-opacity: .8;
}

g.grandparent,
g.children {
  cursor: pointer;
}

text {
  font: 10px sans-serif;
  font-weight: bold;
  dominant-baseline: hanging;
}
